body{
    width: 60%;
}
.base{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 500;
    color: darkorange;
    margin-bottom: 5%;
}
.font5{
    font-size: 0.5rem;
}
.font15{
    font-size: 1.5rem;
}
.font12{
    font-size: 1.2rem;
    color: sienna;
    font-weight: 500;
}
.bold{
    font-weight: 500;
}
.yellow{
    background-color: seashell;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottom{
    display: flex;
    justify-content: flex-end;
}
.header{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2%;
}
.button{
    margin: 0.5rem;
    color: white;
    width: 6rem;
    background-color: skyblue;
}
.content{
    border: 1px solid black;
    border-radius: 40%;
    width: 100%;
    height: 4rem;
}
.title{
    width: 50%;
}
.textbox{
    border: 1px solid black;
    background-color: seashell;
    width: 100%;
    height: 10rem;
    padding: 5%;
    box-sizing: border-box;
}
.date{
    border: 1px solid black;
    background-color: thistle;
    width: 100%;
    height: 2rem;
    margin-bottom: 3%;
}
.left{
    margin-left: 5%;
}
.right{
    margin-right: 2%;
}
.space{
    margin-bottom: 2%;
}
.titlebox{
    border: 1px solid black;
    background-color: seashell;
    width: 100%;
    height: 2rem;
    padding-left: 5%;
    box-sizing: border-box;
    width: 100%;
}
.comment{
    width: 95%;
    height: 3rem;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
}
.green{
    background-color: green;
    color: white;
    border: 1px solid white
}
.commentbox{
    border: 1px solid black;
    width: 95%;
    height: 5rem;
    padding: 4%;
    box-sizing: border-box;
}
.padd{
    padding: 1%;
    box-sizing: border-box;
}