<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'todo.css' %}"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <div class="header2 center">{{user.username}}님이 작성하신 글</div>
    {% for post in posts %}
        {% if user.is_authenticated and post.author.pk == user.pk %}
            <div class = "header left">{{post.title}}</div>
            <div class="textbox2">{{post.content}}</div>
            <div class="center">
                <div class="center date">마감기한 : {{post.due}} </div>
                <div class="center date">{{post.due|timeuntil}} 남음</div>
            </div>
            <div class="bottom">
                <div><a class="button" href="{% url 'editname' post.pk %}">수정하기</a></div>
                <div><a class="button" href="{% url 'deletename' post.pk %}">삭제하기</a></div>
            </div>
        {% endif %} 
    {% endfor %}
    {% endblock content %}
</body>
</html>